/******************** 

		*** Name: Vanessa Marrero
		*** Assignment: Project 2
		*** Class: Designing for Web Standards I
		*** Date: October 9, 2014

********************/

/******************** MAIN PAGE STYLES ********************/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	line-height: 250%;
	margin: 0px;
	padding: 0px;
	text-align: center;
	background-size: 100% auto;
}

#wrapper {
	margin: 0px auto;
	padding: 0px 50px;
	text-align: left;
	border: 2px solid #CCCCCC;
	background-color: #917FED;
}

#container {
	padding: 15px;
	border: 2px solid #CCCCCC;
	text-align: center;
	background-color: #FFEFAA;
}

#intro, #overview, #history, #materials, #technique, #tone, #formandprop, #perspective, #artistry, #drawingprocess, #gallery {
	background-color: #FFFFFF;
	border: 2px solid #CCCCCC;
	border-radius: 25px;
	box-shadow: 3px 3px 10px #888888;
	margin: 20px;
	margin-bottom: 40px;
	text-align: center;
}

#intro {
	margin-top: 10px;
}

#intro blockquote {
	font-size: 20px;
	line-height: 180%;
	color: #666666;
}

div p {
	margin: 20px;
	text-align: justify;
	font-weight: normal;
	font-style: normal;
}

div p.note {
	background-color: #FFC200;
	border: 2px solid #CCCCCC;
	border-radius: 25px;
	margin: 0px auto;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 11px;
	width: 50%;
	line-height: 150%;
}

div ol {
	text-align: left;
}

/******************** END MAIN PAGE STYLES ********************/

/******************** MAIN NAV STYLES ********************/

#nav {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

#nav ul {
	list-style-type: none;
	margin: 0px auto;
	padding: 0px;
	width: 100%;
	text-align: center;
}

#nav li {
	display: inline-block;
	padding: 0px;
	line-height: 600%;
	margin: 0px;
	font-size: 13px;
	text-align: center;
}

#nav a:link {
	text-decoration: none;
	color: #2BC6B1;
	padding: 25px;
	background-color: #FFFFFF;
	border-radius: 25px;
	margin-right: 5px;
	width: 100%;
}

#nav a:visited {
	color: #2BC6B1;
}

#nav a:hover {
	color: #FFFFFF;
	background-color: #917FED;
}

#nav a:active {
	color: #FFFFFF;
}

/******************** END MAIN NAV STYLES ********************/

/******************** HEADER STYLES ********************/

h1 {
	font-family: 'Lovers Quarrel', cursive;
	font-size: 150px;
	color: #FF708F;
	text-align: center;
	text-shadow: 2px 2px 2px #A37B03;
}

h2 {
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	background-color: #2BC6B1;
	padding: 15px;
	margin-top: 0px;
	border-radius: 25px 25px 0px 0px;
	box-shadow: 0px 3px 5px #888888;
}

h3 {
	font-size: 16px;
	color: #FFFFFF;
	text-transform: uppercase;
	background-color: #789ED6;
	padding: 15px;
	width: 50%;
	border-radius: 0px 25px 25px 0px;
	box-shadow: 0px 3px 5px #888888;
}

/******************** END HEADER STYLES ********************/

/******************** GALLERY STYLES ********************/

figure {
	display: inline-block;
	background-color: #FFC200;
	border: 2px solid #CCCCCC;
	border-radius: 25px;
	width: 200px;
	height: 400px;
	overflow: hidden;
}

figure img {
	overflow: hidden;
	height: 200px;
	min-width: 200px;
	padding: 0px;
	margin: 0px;
	border-bottom: 2px solid #CCCCCC;
}

figure a:hover {
	opacity: .5;
}
		
figcaption {
	padding: 20px;
	font-size: 11px;
	text-align: center;
	line-height: 180%;
}

/******************** END GALLERY STYLES ********************/
